body{
    display: flex;
    justify-content: center;
    width:100vw;
    height: 100vh;
    margin-top: 50px;
}
.counter{
    display: flex;
    gap:10px;
    margin:10px;
    justify-content: center;
}


.container{
    background-image:  linear-gradient(red, yellow, blue);
    height:200px;
}

#increment-btn{
    padding-left: auto 10px;
    font-size: large;
}

#decrement-btn{
    padding-left: auto 10px;
    font-size: large;
}

#counter-value{
    font-size: larger;
    font-weight: 200;
}
